In [18]:
import numpy as np
import pandas as pd
ts=pd.read_csv("legion5.tsv",sep='\t')
pd.drop_nan(ts)

AttributeError: module 'pandas' has no attribute 'drop_nan'

In [13]:
pd.to_datetime(ts["End Time"][ts.shape[0]-4])-pd.to_datetime(ts["Start Time"][0])

Timedelta('0 days 02:55:08.242397')